{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <div class="row">
          <div class="col-5"><img src="../static/pict 1.png" class="img-fluid" alt=""></div>
          <div class="col-7">
            <h1 class="h2">Morris Simmmons</h1>
            <p><span class="badge badge-secondary mr-2">Для путешествий </span>Рейтинг: 4.8 Ставка: 1200 / час</p>
            <p>Native English language teacherHi Everyone! My name is Richard; I am a native English speaker. I was born in South Africa, Spent 12 years living in the UK and am now living in Spain. I have a degree in food science, a TEFL certificate and a level 3 in training and education. I worked in cheese manufacturing for many years and have good knowledge of dairy production and food safety topics.
            <br> <br>

          </div>
        </div>
      </div>
      <div class="card-body m-2 m-md-4">
        <h2 class="h5 mb-4">Записаться на пробный урок</h2>
        <table class="table">
          <tr>
            <th><span class="btn font-weight-bold py-0">#</span></th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
          </tr>
          <tr>
            <td><span class="btn">8:00</span></td>
            <td><a href="booking.html" class="btn btn-sm btn-secondary">8:00</a></td>
            <td><a href="#" class="btn btn-sm btn-secondary">8:00</a></td>
            <td><a href="#" class="btn btn-sm btn-secondary">8:00</a></td>
            <td><a href="#" class="btn btn-sm btn-secondary">8:00</a></td>
            <td><a href="#" class="btn btn-sm btn-secondary">8:00</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td><span class="btn">10:00</span></td>
            <td><a href="#" class="btn btn-sm btn-secondary">10:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">10:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">10:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">10:00</a></td>
            <td><a href="#" class="btn btn-sm btn-secondary">10:00</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td><span class="btn">12:00</span></td>
            <td><a href="#" class="btn btn-sm btn-secondary">12:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">12:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">12:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">12:00</a></td>
            <td><a href="#" class="btn btn-sm btn-secondary">12:00</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td><span class="btn">14:00</span></td>
            <td><a href="#" class="btn btn-sm btn-secondary">14:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">14:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">14:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">14:00</a></td>
            <td><a href="#" class="btn btn-sm btn-secondary">14:00</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td><span class="btn">16:00</span></td>
            <td><a href="#" class="btn btn-sm btn-secondary">16:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">16:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">16:00</a></td>
            <td><a href="#" class="btn btn-sm btn-success">16:00</a></td>
            <td><a href="#" class="btn btn-sm btn-secondary">16:00</a></td>
            <td>-</td>
            <td>-</td>
          </tr>
        </table>
      </div>
    </div>
  </main>
{% endblock %}